@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Odibee Sans', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #240054;
}

.container
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.num 
{
    color: #740aff;
    font-size: 3em;
}

.material-symbols-outlined
{
    color: #fff;
    cursor: pointer;
}

.restart
{
    color: #8f8f8f;
}

.pause
{
    display: none;
}
